In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import numpy as np
from requests_html import HTMLSession
import re
from datetime import datetime, timedelta

In [1]:
from bs4 import BeautifulSoup
import requests

# URL de la página
url = 'https://espndeportes.espn.com/beisbol/mlb/calendario/_/fecha/20240320'

# Configurar el encabezado User-Agent
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# Realizar la solicitud HTTP con el encabezado
response = requests.get(url, headers=headers)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Parsear el contenido HTML utilizando BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Encontrar todas las celdas que contienen el equipo local
    celdas_equipos_locales = soup.find_all('td', class_='colspan__col Table__TD')
    
    # Extraer los nombres de los equipos locales de las celdas
    nombres_equipos_locales = []
    for celda in celdas_equipos_locales:
        equipo_local = celda.find('span', class_='Table__Team').text.strip()
        nombres_equipos_locales.append(equipo_local)
    
    # Imprimir los nombres de los equipos locales
    print("Nombres de los equipos locales:")
    for nombre_equipo_local in nombres_equipos_locales:
        print(nombre_equipo_local)
else:
    print('Error al obtener la página:', response.status_code)

Nombres de los equipos locales:
San Diego
Minnesota
Atlanta
Miami
Oakland
Chicago
Cincinnati
Arizona
Los Angeles
Baltimore
Washington
New York
Kansas City
Los Angeles
St. Louis
Washington
Atlanta
Detroit
Philadelphia
Kansas City
Cleveland
Colorado
Boston
Pittsburgh
Milwaukee
Seattle
New York
Minnesota
Philadelphia
Tampa Bay
Toronto
San Francisco
Oakland
Texas
Chicago
Chicago
Cleveland
Los Angeles
Milwaukee
Seattle
Arizona
Baltimore
Houston
Miami

In [2]:
from bs4 import BeautifulSoup
import requests

# URL de la página
url = 'https://espndeportes.espn.com/beisbol/mlb/calendario/_/fecha/20240320'

# Configurar el encabezado User-Agent
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# Realizar la solicitud HTTP con el encabezado
response = requests.get(url, headers=headers)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Parsear el contenido HTML utilizando BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Encontrar todas las celdas que contienen el equipo visitante
    celdas_equipos_visitantes = soup.find_all('td', class_='events__col Table__TD')
    
    # Extraer los nombres de los equipos visitantes de las celdas
    nombres_equipos_visitantes = []
    for celda in celdas_equipos_visitantes:
        equipo_visitante = celda.find('span', class_='Table__Team away').text.strip()
        nombres_equipos_visitantes.append(equipo_visitante)
    
    # Imprimir los nombres de los equipos visitantes
    print("Nombres de los equipos visitantes:")
    for nombre_equipo_visitante in nombres_equipos_visitantes:
        print(nombre_equipo_visitante)
else:
    print('Error al obtener la página:', response.status_code)

Nombres de los equipos visitantes:
Los Angeles
Detroit
Toronto
New York
Chicago
Cincinnati
Texas
Colorado
San Francisco
Philadelphia
St. Louis
Pittsburgh
Los Angeles
San Diego
Houston
Minnesota
New York
New York
Tampa Bay
Chicago
Kansas City
Chicago
Baltimore
Toronto
San Francisco
Cincinnati
New York
Atlanta
Detroit
Minnesota
Boston
Chicago
Cincinnati
Colorado
Oakland
San Francisco
Texas
Chicago
Kansas City
Milwaukee
Seattle
Pittsburgh
Washington
St. Louis

In [39]:
from bs4 import BeautifulSoup
import requests

# URL de la página
url = 'https://espndeportes.espn.com/beisbol/mlb/calendario/_/fecha/20240320'

# Configurar el encabezado User-Agent
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Realizar la solicitud HTTP con el encabezado
response = requests.get(url, headers=headers)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Parsear el contenido HTML utilizando BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Encontrar todas las celdas que contienen los resultados de los partidos
    celdas_resultados = soup.find_all('td', class_='teams__col Table__TD')
    
    # Iterar sobre las celdas de resultados
    for celda in celdas_resultados:
        # Encontrar el elemento 'a' dentro de la celda
        resultado_partido_tag = celda.find('a')
        if resultado_partido_tag:
            # Obtener el texto dentro del elemento 'a' y eliminar espacios en blanco al principio y al final
            resultado_partido = resultado_partido_tag.text.strip()
            # Verificar si el resultado contiene números o la palabra "cancelado"
            if any(char.isdigit() for char in resultado_partido) or "Cancelado" in resultado_partido.lower():
                print(resultado_partido)
else:
    print('Error al obtener la página:', response.status_code)

LAD 5, SD 2
DET 12, MIN 3
ATL 10, TOR 9
NYM 6, MIA 3
OAK 3, CHC 1
CIN 3, CHW 1
TEX 8, CIN 1
ARI 5, COL 1
SF 5, LAA 2
BAL 13, PHI 4
STL 13, WSH 4
NYY 12, PIT 0
LAA 8, KC 8
SD 15, LAD 11
HOU 9, STL 1
WSH 9, MIN 8
ATL 5, NYY 2
NYM 10, DET 5
TB 6, PHI 5
CHW 3, KC 3
CLE 8, KC 5
CHC 5, COL 2
BOS 3, BAL 2
TOR 3, PIT 2
SF 7, MIL 6
SEA 7, CIN 6
NYY 5, NYM 3
DET 4, PHI 3
TOR 5, BOS 1
SF 13, CHC 12
OAK 8, CIN 6
COL 3, TEX 2
CHW 8, OAK 2
SF 7, CHC 3
CLE 10, TEX 0
LAA 2, CHW 0
MIL 11, KC 5
MIL 4, SEA 4
SEA 3, ARI 3

In [81]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from datetime import datetime, timedelta

# Función para formatear la fecha en el formato de la URL
def format_date(date):
    return date.strftime("%Y%m%d")

# Lista para almacenar los DataFrames de cada día
dfs = []

# Rango de fechas
start_date = datetime(2024, 3, 20)
end_date = datetime(2024, 9, 19)
delta = timedelta(days=1)  # Incremento diario

# Configurar el encabezado User-Agent
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

# Iterar sobre el rango de fechas
current_date = start_date
while current_date <= end_date:
    # Construir la URL para la fecha actual
    url = f'https://espndeportes.espn.com/beisbol/mlb/calendario/_/fecha/{format_date(current_date)}'

    # Realizar la solicitud HTTP con el encabezado
    response = requests.get(url, headers=headers)

    # Verificar si la solicitud fue exitosa (código de estado 200)
    if response.status_code == 200:
        # Parsear el contenido HTML utilizando BeautifulSoup
        soup = BeautifulSoup(response.content, 'html.parser')

        # Encontrar todas las celdas que contienen el equipo local
        celdas_equipos_locales = soup.find_all('td', class_='colspan__col Table__TD')
        nombres_equipos_locales = [celda.find('span', class_='Table__Team').text.strip() for celda in celdas_equipos_locales]

        # Encontrar todas las celdas que contienen el equipo visitante
        celdas_equipos_visitantes = soup.find_all('td', class_='events__col Table__TD')
        nombres_equipos_visitantes = [celda.find('span', class_='Table__Team away').text.strip() for celda in celdas_equipos_visitantes]

        # Encontrar todas las celdas que contienen los resultados de los partidos
        celdas_resultados = soup.find_all('td', class_='teams__col Table__TD')
        resultados_partidos = []
        for celda in celdas_resultados:
            resultado_partido_tag = celda.find('a')
            if resultado_partido_tag:
                resultado_partido = resultado_partido_tag.text.strip()
                if any(char.isdigit() for char in resultado_partido) or "Cancelado" in resultado_partido:
                 resultados_partidos.append(resultado_partido)

        # Determinar la longitud máxima de las listas
        max_length = max(len(nombres_equipos_locales), len(nombres_equipos_visitantes), len(resultados_partidos))

        # Rellenar las listas con NaN hasta alcanzar la longitud máxima
        nombres_equipos_locales += [np.nan] * (max_length - len(nombres_equipos_locales))
        nombres_equipos_visitantes += [np.nan] * (max_length - len(nombres_equipos_visitantes))
        resultados_partidos += [np.nan] * (max_length - len(resultados_partidos))

        # Crear el DataFrame para la fecha actual
        df = pd.DataFrame({
            'Equipo Local': nombres_equipos_locales,
            'Equipo Visitante': nombres_equipos_visitantes,
            'Resultado': resultados_partidos
        })

        # Agregar el DataFrame al listado
        dfs.append(df)
    else:
        print('Error al obtener la página:', response.status_code)

    # Avanzar al siguiente día
    current_date += delta

# Concatenar todos los DataFrames en uno solo
result_df = pd.concat(dfs, ignore_index=True)

# Imprimir el DataFrame completo
print(result_df)

     Equipo Local Equipo Visitante      Resultado
0       San Diego      Los Angeles    LAD 5, SD 2
1       Minnesota          Detroit  DET 12, MIN 3
2         Atlanta          Toronto  ATL 10, TOR 9
3           Miami         New York   NYM 6, MIA 3
4         Oakland          Chicago   OAK 3, CHC 1
...           ...              ...            ...
7210  Kansas City    San Francisco            NaN
7211    St. Louis        Cleveland            NaN
7212    San Diego          Chicago            NaN
7213      Oakland         New York            NaN
7214  Los Angeles         Colorado            NaN

[7215 rows x 3 columns]

In [83]:
# Guardar el DataFrame en un archivo Excel
result_df.to_excel('resultados_temporada.xlsx', index=False)

In [91]:
result_df

     Equipo Local Equipo Visitante      Resultado
0       San Diego      Los Angeles    LAD 5, SD 2
1       Minnesota          Detroit  DET 12, MIN 3
2         Atlanta          Toronto  ATL 10, TOR 9
3           Miami         New York   NYM 6, MIA 3
4         Oakland          Chicago   OAK 3, CHC 1
...           ...              ...            ...
7210  Kansas City    San Francisco            NaN
7211    St. Louis        Cleveland            NaN
7212    San Diego          Chicago            NaN
7213      Oakland         New York            NaN
7214  Los Angeles         Colorado            NaN

[7215 rows x 3 columns]

In [149]:
df_temporada= result_df.copy()

In [150]:
# Reemplazar los valores nulos en la columna 'Resultado' con 'Sin jugar'
df_temporada['Resultado'].fillna('Sin jugar', inplace=True)

# Aplicar la función a la columna "Resultado" y concatenar los resultados a DataFrame
df_resultados = df_temporada['Resultado'].apply(procesar_resultado)
df_final = pd.concat([df_temporada, df_resultados], axis=1)

# Mostrar el DataFrame final
print(df_final)

     Equipo Local Equipo Visitante      Resultado Equipo Ganador  \
0       San Diego      Los Angeles    LAD 5, SD 2            LAD
1       Minnesota          Detroit  DET 12, MIN 3            DET
2         Atlanta          Toronto  ATL 10, TOR 9            ATL
3           Miami         New York   NYM 6, MIA 3            NYM
4         Oakland          Chicago   OAK 3, CHC 1            OAK
...           ...              ...            ...            ...
7210  Kansas City    San Francisco      Sin jugar           None
7211    St. Louis        Cleveland      Sin jugar           None
7212    San Diego          Chicago      Sin jugar           None
7213      Oakland         New York      Sin jugar           None
7214  Los Angeles         Colorado      Sin jugar           None

      Puntos Ganador Equipo Perdedor  Puntos Perdedor
0                5.0              SD              2.0
1               12.0             MIN              3.0
2               10.0             TOR              9.0
3                6.0             MIA              3.0
4                3.0             CHC              1.0
...              ...             ...              ...
7210             NaN            None              NaN
7211             NaN            None              NaN
7212             NaN            None              NaN
7213             NaN            None              NaN
7214             NaN            None              NaN

[7215 rows x 7 columns]

In [151]:
# Función para procesar los resultados
def procesar_resultado(resultado):
    if resultado == 'Sin jugar':
        return pd.Series([None, None, None, None], index=['Equipo Ganador', 'Puntos Ganador', 'Equipo Perdedor', 'Puntos Perdedor'])
    else:
        # Extraer información con expresiones regulares
        match = re.match(r'([A-Z]+) (\d+), ([A-Z]+) (\d+)( \(TE\))?', resultado)
        if match:
            equipo_ganador = match.group(1)
            puntos_ganador = int(match.group(2))
            equipo_perdedor = match.group(3)
            puntos_perdedor = int(match.group(4))
            return pd.Series([equipo_ganador, puntos_ganador, equipo_perdedor, puntos_perdedor], index=['Equipo Ganador', 'Puntos Ganador', 'Equipo Perdedor', 'Puntos Perdedor'])
        else:
            return pd.Series([None, None, None, None], index=['Equipo Ganador', 'Puntos Ganador', 'Equipo Perdedor', 'Puntos Perdedor'])

# Aplicar la función a la columna "Resultado" y concatenar los resultados a DataFrame
df_resultados = df_temporada['Resultado'].apply(procesar_resultado)
df_final = pd.concat([df_temporada, df_resultados], axis=1)

# Mostrar el DataFrame final
print(df_final)

     Equipo Local Equipo Visitante      Resultado Equipo Ganador  \
0       San Diego      Los Angeles    LAD 5, SD 2            LAD
1       Minnesota          Detroit  DET 12, MIN 3            DET
2         Atlanta          Toronto  ATL 10, TOR 9            ATL
3           Miami         New York   NYM 6, MIA 3            NYM
4         Oakland          Chicago   OAK 3, CHC 1            OAK
...           ...              ...            ...            ...
7210  Kansas City    San Francisco      Sin jugar           None
7211    St. Louis        Cleveland      Sin jugar           None
7212    San Diego          Chicago      Sin jugar           None
7213      Oakland         New York      Sin jugar           None
7214  Los Angeles         Colorado      Sin jugar           None

      Puntos Ganador Equipo Perdedor  Puntos Perdedor
0                5.0              SD              2.0
1               12.0             MIN              3.0
2               10.0             TOR              9.0
3                6.0             MIA              3.0
4                3.0             CHC              1.0
...              ...             ...              ...
7210             NaN            None              NaN
7211             NaN            None              NaN
7212             NaN            None              NaN
7213             NaN            None              NaN
7214             NaN            None              NaN

[7215 rows x 7 columns]

In [152]:
df_final.head(40)

,Equipo Local,Equipo Visitante,Resultado,Equipo Ganador,Puntos Ganador,Equipo Perdedor,Puntos Perdedor
0,San Diego,Los Angeles,"LAD 5, SD 2",LAD,5.0,SD,2.0
1,Minnesota,Detroit,"DET 12, MIN 3",DET,12.0,MIN,3.0
2,Atlanta,Toronto,"ATL 10, TOR 9",ATL,10.0,TOR,9.0
3,Miami,New York,"NYM 6, MIA 3",NYM,6.0,MIA,3.0
4,Oakland,Chicago,"OAK 3, CHC 1",OAK,3.0,CHC,1.0
5,Chicago,Cincinnati,"CIN 3, CHW 1",CIN,3.0,CHW,1.0
6,Cincinnati,Texas,"TEX 8, CIN 1",TEX,8.0,CIN,1.0
7,Arizona,Colorado,"ARI 5, COL 1",ARI,5.0,COL,1.0
8,Los Angeles,San Francisco,"SF 5, LAA 2",SF,5.0,LAA,2.0
9,Baltimore,Philadelphia,"BAL 13, PHI 4",BAL,13.0,PHI,4.0
10,Washington,St. Louis,"STL 13, WSH 4",STL,13.0,WSH,4.0
11,New York,Pittsburgh,"NYY 12, PIT 0",NYY,12.0,PIT,0.0
12,Kansas City,Los Angeles,"LAA 8, KC 8",LAA,8.0,KC,8.0
13,Los Angeles,San Diego,"SD 15, LAD 11",SD,15.0,LAD,11.0
14,St. Louis,Houston,"HOU 9, STL 1",HOU,9.0,STL,1.0
15,Washington,Minnesota,"WSH 9, MIN 8",WSH,9.0,MIN,8.0
16,Atlanta,New York,"ATL 5, NYY 2",ATL,5.0,NYY,2.0
17,Detroit,New York,"NYM 10, DET 5",NYM,10.0,DET,5.0
18,Philadelphia,Tampa Bay,"TB 6, PHI 5",TB,6.0,PHI,5.0
19,Kansas City,Chicago,"CHW 3, KC 3",CHW,3.0,KC,3.0
20,Cleveland,Kansas City,"CLE 8, KC 5",CLE,8.0,KC,5.0
21,Colorado,Chicago,"CHC 5, COL 2",CHC,5.0,COL,2.0
22,Boston,Baltimore,"BOS 3, BAL 2",BOS,3.0,BAL,2.0
23,Pittsburgh,Toronto,"TOR 3, PIT 2",TOR,3.0,PIT,2.0
24,Milwaukee,San Francisco,"SF 7, MIL 6",SF,7.0,MIL,6.0
25,Seattle,Cincinnati,"SEA 7, CIN 6",SEA,7.0,CIN,6.0
26,New York,New York,"NYY 5, NYM 3",NYY,5.0,NYM,3.0
27,Minnesota,Atlanta,Cancelado,None,NaN,None,NaN
28,Philadelphia,Detroit,"DET 4, PHI 3",DET,4.0,PHI,3.0
29,Tampa Bay,Minnesota,Cancelado,None,NaN,None,NaN
30,Toronto,Boston,"TOR 5, BOS 1",TOR,5.0,BOS,1.0
31,San Francisco,Chicago,"SF 13, CHC 12",SF,13.0,CHC,12.0
32,Oakland,Cincinnati,"OAK 8, CIN 6",OAK,8.0,CIN,6.0
33,Texas,Colorado,"COL 3, TEX 2",COL,3.0,TEX,2.0
34,Chicago,Oakland,"CHW 8, OAK 2",CHW,8.0,OAK,2.0
35,Chicago,San Francisco,"SF 7, CHC 3",SF,7.0,CHC,3.0
36,Cleveland,Texas,"CLE 10, TEX 0",CLE,10.0,TEX,0.0
37,Los Angeles,Chicago,"LAA 2, CHW 0",LAA,2.0,CHW,0.0
38,Milwaukee,Kansas City,"MIL 11, KC 5",MIL,11.0,KC,5.0
39,Seattle,Milwaukee,"MIL 4, SEA 4",MIL,4.0,SEA,4.0

In [153]:
equipo_dict = {
    'ARI': 'Arizona',
    'ATL': 'Atlanta',
    'BAL': 'Baltimore',
    'BOS': 'Boston',
    'CHC': 'Chicago Cubs',
    'CWS': 'Chicago White Sox',
    'CIN': 'Cincinnati',
    'CLE': 'Cleveland',
    'COL': 'Colorado',
    'DET': 'Detroit',
    'HOU': 'Houston',
    'KC': 'Kansas City',
    'LAA': 'Los Angeles Angels',
    'LAD': 'Los Angeles Dodgers',
    'MIA': 'Miami',
    'MIL': 'Milwaukee',
    'MIN': 'Minnesota',
    'NYM': 'New York Mets',
    'NYY': 'New York Yankees',
    'OAK': 'Oakland',
    'PHI': 'Philadelphia',
    'PIT': 'Pittsburgh',
    'SD': 'San Diego',
    'SF': 'San Francisco',
    'SEA': 'Seattle',
    'STL': 'St. Louis',
    'TB': 'Tampa Bay',
    'TEX': 'Texas',
    'TOR': 'Toronto',
    'WAS': 'Washington'
}

# Reemplazar las abreviaciones con los nombres de estado de los equipos y mantener el valor original si no está en el diccionario
df_final['Equipo Ganador'] = df_final['Equipo Ganador'].map(equipo_dict).fillna(df_final['Equipo Ganador'])
df_final['Equipo Perdedor'] = df_final['Equipo Perdedor'].map(equipo_dict).fillna(df_final['Equipo Perdedor'])

# Mostrar el DataFrame actualizado
print(df_final)

     Equipo Local Equipo Visitante      Resultado       Equipo Ganador  \
0       San Diego      Los Angeles    LAD 5, SD 2  Los Angeles Dodgers
1       Minnesota          Detroit  DET 12, MIN 3              Detroit
2         Atlanta          Toronto  ATL 10, TOR 9              Atlanta
3           Miami         New York   NYM 6, MIA 3        New York Mets
4         Oakland          Chicago   OAK 3, CHC 1              Oakland
...           ...              ...            ...                  ...
7210  Kansas City    San Francisco      Sin jugar                 None
7211    St. Louis        Cleveland      Sin jugar                 None
7212    San Diego          Chicago      Sin jugar                 None
7213      Oakland         New York      Sin jugar                 None
7214  Los Angeles         Colorado      Sin jugar                 None

      Puntos Ganador Equipo Perdedor  Puntos Perdedor
0                5.0       San Diego              2.0
1               12.0       Minnesota              3.0
2               10.0         Toronto              9.0
3                6.0           Miami              3.0
4                3.0    Chicago Cubs              1.0
...              ...             ...              ...
7210             NaN            None              NaN
7211             NaN            None              NaN
7212             NaN            None              NaN
7213             NaN            None              NaN
7214             NaN            None              NaN

[7215 rows x 7 columns]

In [154]:
# Realizar las sustituciones en las columnas "Equipo Local" y "Equipo Visitante"
df_final['Equipo Local'] = df_final['Equipo Local'].replace({'CHC': 'Chicago Cubs', 'CWS': 'Chicago White Sox', 'LAA': 'Los Angeles Angels', 'LAD': 'Los Angeles Dodgers', 'NYM': 'New York Mets', 'NYY': 'New York Yankees'})
df_final['Equipo Visitante'] = df_final['Equipo Visitante'].replace({'CHC': 'Chicago Cubs', 'CWS': 'Chicago White Sox', 'LAA': 'Los Angeles Angels', 'LAD': 'Los Angeles Dodgers', 'NYM': 'New York Mets', 'NYY': 'New York Yankees'})

In [155]:
df_final.head(40)

,Equipo Local,Equipo Visitante,Resultado,Equipo Ganador,Puntos Ganador,Equipo Perdedor,Puntos Perdedor
0,San Diego,Los Angeles,"LAD 5, SD 2",Los Angeles Dodgers,5.0,San Diego,2.0
1,Minnesota,Detroit,"DET 12, MIN 3",Detroit,12.0,Minnesota,3.0
2,Atlanta,Toronto,"ATL 10, TOR 9",Atlanta,10.0,Toronto,9.0
3,Miami,New York,"NYM 6, MIA 3",New York Mets,6.0,Miami,3.0
4,Oakland,Chicago,"OAK 3, CHC 1",Oakland,3.0,Chicago Cubs,1.0
5,Chicago,Cincinnati,"CIN 3, CHW 1",Cincinnati,3.0,CHW,1.0
6,Cincinnati,Texas,"TEX 8, CIN 1",Texas,8.0,Cincinnati,1.0
7,Arizona,Colorado,"ARI 5, COL 1",Arizona,5.0,Colorado,1.0
8,Los Angeles,San Francisco,"SF 5, LAA 2",San Francisco,5.0,Los Angeles Angels,2.0
9,Baltimore,Philadelphia,"BAL 13, PHI 4",Baltimore,13.0,Philadelphia,4.0
10,Washington,St. Louis,"STL 13, WSH 4",St. Louis,13.0,WSH,4.0
11,New York,Pittsburgh,"NYY 12, PIT 0",New York Yankees,12.0,Pittsburgh,0.0
12,Kansas City,Los Angeles,"LAA 8, KC 8",Los Angeles Angels,8.0,Kansas City,8.0
13,Los Angeles,San Diego,"SD 15, LAD 11",San Diego,15.0,Los Angeles Dodgers,11.0
14,St. Louis,Houston,"HOU 9, STL 1",Houston,9.0,St. Louis,1.0
15,Washington,Minnesota,"WSH 9, MIN 8",WSH,9.0,Minnesota,8.0
16,Atlanta,New York,"ATL 5, NYY 2",Atlanta,5.0,New York Yankees,2.0
17,Detroit,New York,"NYM 10, DET 5",New York Mets,10.0,Detroit,5.0
18,Philadelphia,Tampa Bay,"TB 6, PHI 5",Tampa Bay,6.0,Philadelphia,5.0
19,Kansas City,Chicago,"CHW 3, KC 3",CHW,3.0,Kansas City,3.0
20,Cleveland,Kansas City,"CLE 8, KC 5",Cleveland,8.0,Kansas City,5.0
21,Colorado,Chicago,"CHC 5, COL 2",Chicago Cubs,5.0,Colorado,2.0
22,Boston,Baltimore,"BOS 3, BAL 2",Boston,3.0,Baltimore,2.0
23,Pittsburgh,Toronto,"TOR 3, PIT 2",Toronto,3.0,Pittsburgh,2.0
24,Milwaukee,San Francisco,"SF 7, MIL 6",San Francisco,7.0,Milwaukee,6.0
25,Seattle,Cincinnati,"SEA 7, CIN 6",Seattle,7.0,Cincinnati,6.0
26,New York,New York,"NYY 5, NYM 3",New York Yankees,5.0,New York Mets,3.0
27,Minnesota,Atlanta,Cancelado,None,NaN,None,NaN
28,Philadelphia,Detroit,"DET 4, PHI 3",Detroit,4.0,Philadelphia,3.0
29,Tampa Bay,Minnesota,Cancelado,None,NaN,None,NaN
30,Toronto,Boston,"TOR 5, BOS 1",Toronto,5.0,Boston,1.0
31,San Francisco,Chicago,"SF 13, CHC 12",San Francisco,13.0,Chicago Cubs,12.0
32,Oakland,Cincinnati,"OAK 8, CIN 6",Oakland,8.0,Cincinnati,6.0
33,Texas,Colorado,"COL 3, TEX 2",Colorado,3.0,Texas,2.0
34,Chicago,Oakland,"CHW 8, OAK 2",CHW,8.0,Oakland,2.0
35,Chicago,San Francisco,"SF 7, CHC 3",San Francisco,7.0,Chicago Cubs,3.0
36,Cleveland,Texas,"CLE 10, TEX 0",Cleveland,10.0,Texas,0.0
37,Los Angeles,Chicago,"LAA 2, CHW 0",Los Angeles Angels,2.0,CHW,0.0
38,Milwaukee,Kansas City,"MIL 11, KC 5",Milwaukee,11.0,Kansas City,5.0
39,Seattle,Milwaukee,"MIL 4, SEA 4",Milwaukee,4.0,Seattle,4.0

In [158]:
# Equipos ganadores de las ciudades especificadas
equipos_ganadores_ciudades = {
    'Los Angeles': ['Los Angeles Angels', 'Los Angeles Dodgers'],
    'Chicago': ['Chicago Cubs', 'Chicago White Sox'],
    'New York': ['New York Mets', 'New York Yankees']
}

# Función para determinar el equipo local basado en las condiciones especificadas
def determinar_equipo_local(row):
    equipo_local = row['Equipo Local']
    equipo_ganador = row['Equipo Ganador']
    equipo_perdedor = row['Equipo Visitante'] if equipo_local == row['Equipo Local'] else equipo_local
    
    # Verificar si el equipo local es Los Angeles y el equipo ganador es uno de los equipos de Los Angeles
    if equipo_local == 'Los Angeles' and equipo_ganador in equipos_ganadores_ciudades['Los Angeles']:
        return equipo_ganador
    
    # Verificar si el equipo local es Chicago y el equipo ganador es uno de los equipos de Chicago
    if equipo_local == 'Chicago' and equipo_ganador in equipos_ganadores_ciudades['Chicago']:
        return equipo_ganador
    
    # Verificar si el equipo local es New York y el equipo ganador es uno de los equipos de New York
    if equipo_local == 'New York' and equipo_ganador in equipos_ganadores_ciudades['New York']:
        return equipo_ganador
    
    # Si el equipo local es Los Angeles pero el equipo ganador no es uno de los equipos de Los Angeles, asignar el equipo perdedor como el nuevo equipo local
    if equipo_local == 'Los Angeles' and equipo_perdedor not in equipos_ganadores_ciudades['Los Angeles']:
        return equipo_perdedor
    
    # Si el equipo local es Chicago pero el equipo ganador no es uno de los equipos de Chicago, asignar el equipo perdedor como el nuevo equipo local
    if equipo_local == 'Chicago' and equipo_perdedor not in equipos_ganadores_ciudades['Chicago']:
        return equipo_perdedor
    
    # Si el equipo local es New York pero el equipo ganador no es uno de los equipos de New York, asignar el equipo perdedor como el nuevo equipo local
    if equipo_local == 'New York' and equipo_perdedor not in equipos_ganadores_ciudades['New York']:
        return equipo_perdedor
    
    return equipo_local

# Aplicar la función a cada fila del DataFrame
df_final['Equipo Local'] = df_final.apply(determinar_equipo_local, axis=1)

# Imprimir el DataFrame final
print(df_final)

     Equipo Local Equipo Visitante      Resultado       Equipo Ganador  \
0       San Diego      Los Angeles    LAD 5, SD 2  Los Angeles Dodgers
1       Minnesota          Detroit  DET 12, MIN 3              Detroit
2         Atlanta          Toronto  ATL 10, TOR 9              Atlanta
3           Miami         New York   NYM 6, MIA 3        New York Mets
4         Oakland          Chicago   OAK 3, CHC 1              Oakland
...           ...              ...            ...                  ...
7210  Kansas City    San Francisco      Sin jugar                 None
7211    St. Louis        Cleveland      Sin jugar                 None
7212    San Diego          Chicago      Sin jugar                 None
7213      Oakland         New York      Sin jugar                 None
7214     Colorado         Colorado      Sin jugar                 None

      Puntos Ganador Equipo Perdedor  Puntos Perdedor
0                5.0       San Diego              2.0
1               12.0       Minnesota              3.0
2               10.0         Toronto              9.0
3                6.0           Miami              3.0
4                3.0    Chicago Cubs              1.0
...              ...             ...              ...
7210             NaN            None              NaN
7211             NaN            None              NaN
7212             NaN            None              NaN
7213             NaN            None              NaN
7214             NaN            None              NaN

[7215 rows x 7 columns]

In [162]:
# Función para determinar el equipo visitante basado en las condiciones especificadas
def determinar_equipo_visitante(row):
    equipo_visitante = row['Equipo Visitante']
    equipo_ganador = row['Equipo Ganador']
    equipo_perdedor = row['Equipo Local'] if equipo_visitante == row['Equipo Local'] else equipo_visitante
    
    # Verificar si el equipo visitante es Los Angeles y el equipo ganador es uno de los equipos de Los Angeles
    if equipo_visitante == 'Los Angeles' and equipo_ganador in equipos_ganadores_ciudades['Los Angeles']:
        return equipo_ganador
    
    # Verificar si el equipo visitante es Chicago y el equipo ganador es uno de los equipos de Chicago
    if equipo_visitante == 'Chicago' and equipo_ganador in equipos_ganadores_ciudades['Chicago']:
        return equipo_ganador
    
    # Verificar si el equipo visitante es New York y el equipo ganador es uno de los equipos de New York
    if equipo_visitante == 'New York' and equipo_ganador in equipos_ganadores_ciudades['New York']:
        return equipo_ganador
    
    # Si el equipo visitante es Los Angeles pero el equipo ganador no es uno de los equipos de Los Angeles, asignar el equipo perdedor como el nuevo equipo visitante
    if equipo_visitante == 'Los Angeles' and equipo_perdedor not in equipos_ganadores_ciudades['Los Angeles']:
        return equipo_perdedor
    
    # Si el equipo visitante es Chicago pero el equipo ganador no es uno de los equipos de Chicago, asignar el equipo perdedor como el nuevo equipo visitante
    if equipo_visitante == 'Chicago' and equipo_perdedor not in equipos_ganadores_ciudades['Chicago']:
        return equipo_perdedor
    
    # Si el equipo visitante es New York pero el equipo ganador no es uno de los equipos de New York, asignar el equipo perdedor como el nuevo equipo visitante
    if equipo_visitante == 'New York' and equipo_perdedor not in equipos_ganadores_ciudades['New York']:
        return equipo_perdedor
    
    return equipo_visitante

# Aplicar la función a cada fila del DataFrame
df_final['Equipo Visitante'] = df_final.apply(determinar_equipo_visitante, axis=1)

# Imprimir el DataFrame final
print(df_final)

     Equipo Local     Equipo Visitante      Resultado       Equipo Ganador  \
0       San Diego  Los Angeles Dodgers    LAD 5, SD 2  Los Angeles Dodgers
1       Minnesota              Detroit  DET 12, MIN 3              Detroit
2         Atlanta              Toronto  ATL 10, TOR 9              Atlanta
3           Miami        New York Mets   NYM 6, MIA 3        New York Mets
4         Oakland              Chicago   OAK 3, CHC 1              Oakland
...           ...                  ...            ...                  ...
7210  Kansas City        San Francisco      Sin jugar                 None
7211    St. Louis            Cleveland      Sin jugar                 None
7212    San Diego              Chicago      Sin jugar                 None
7213      Oakland             New York      Sin jugar                 None
7214     Colorado             Colorado      Sin jugar                 None

      Puntos Ganador Equipo Perdedor  Puntos Perdedor
0                5.0       San Diego              2.0
1               12.0       Minnesota              3.0
2               10.0         Toronto              9.0
3                6.0           Miami              3.0
4                3.0    Chicago Cubs              1.0
...              ...             ...              ...
7210             NaN            None              NaN
7211             NaN            None              NaN
7212             NaN            None              NaN
7213             NaN            None              NaN
7214             NaN            None              NaN

[7215 rows x 7 columns]

In [163]:
df_final.head(40)

,Equipo Local,Equipo Visitante,Resultado,Equipo Ganador,Puntos Ganador,Equipo Perdedor,Puntos Perdedor
0,San Diego,Los Angeles Dodgers,"LAD 5, SD 2",Los Angeles Dodgers,5.0,San Diego,2.0
1,Minnesota,Detroit,"DET 12, MIN 3",Detroit,12.0,Minnesota,3.0
2,Atlanta,Toronto,"ATL 10, TOR 9",Atlanta,10.0,Toronto,9.0
3,Miami,New York Mets,"NYM 6, MIA 3",New York Mets,6.0,Miami,3.0
4,Oakland,Chicago,"OAK 3, CHC 1",Oakland,3.0,Chicago Cubs,1.0
5,Cincinnati,Cincinnati,"CIN 3, CHW 1",Cincinnati,3.0,CHW,1.0
6,Cincinnati,Texas,"TEX 8, CIN 1",Texas,8.0,Cincinnati,1.0
7,Arizona,Colorado,"ARI 5, COL 1",Arizona,5.0,Colorado,1.0
8,San Francisco,San Francisco,"SF 5, LAA 2",San Francisco,5.0,Los Angeles Angels,2.0
9,Baltimore,Philadelphia,"BAL 13, PHI 4",Baltimore,13.0,Philadelphia,4.0
10,Washington,St. Louis,"STL 13, WSH 4",St. Louis,13.0,WSH,4.0
11,New York Yankees,Pittsburgh,"NYY 12, PIT 0",New York Yankees,12.0,Pittsburgh,0.0
12,Kansas City,Los Angeles Angels,"LAA 8, KC 8",Los Angeles Angels,8.0,Kansas City,8.0
13,San Diego,San Diego,"SD 15, LAD 11",San Diego,15.0,Los Angeles Dodgers,11.0
14,St. Louis,Houston,"HOU 9, STL 1",Houston,9.0,St. Louis,1.0
15,Washington,Minnesota,"WSH 9, MIN 8",WSH,9.0,Minnesota,8.0
16,Atlanta,New York,"ATL 5, NYY 2",Atlanta,5.0,New York Yankees,2.0
17,Detroit,New York Mets,"NYM 10, DET 5",New York Mets,10.0,Detroit,5.0
18,Philadelphia,Tampa Bay,"TB 6, PHI 5",Tampa Bay,6.0,Philadelphia,5.0
19,Kansas City,Chicago,"CHW 3, KC 3",CHW,3.0,Kansas City,3.0
20,Cleveland,Kansas City,"CLE 8, KC 5",Cleveland,8.0,Kansas City,5.0
21,Colorado,Chicago Cubs,"CHC 5, COL 2",Chicago Cubs,5.0,Colorado,2.0
22,Boston,Baltimore,"BOS 3, BAL 2",Boston,3.0,Baltimore,2.0
23,Pittsburgh,Toronto,"TOR 3, PIT 2",Toronto,3.0,Pittsburgh,2.0
24,Milwaukee,San Francisco,"SF 7, MIL 6",San Francisco,7.0,Milwaukee,6.0
25,Seattle,Cincinnati,"SEA 7, CIN 6",Seattle,7.0,Cincinnati,6.0
26,New York Yankees,New York Yankees,"NYY 5, NYM 3",New York Yankees,5.0,New York Mets,3.0
27,Minnesota,Atlanta,Cancelado,None,NaN,None,NaN
28,Philadelphia,Detroit,"DET 4, PHI 3",Detroit,4.0,Philadelphia,3.0
29,Tampa Bay,Minnesota,Cancelado,None,NaN,None,NaN
30,Toronto,Boston,"TOR 5, BOS 1",Toronto,5.0,Boston,1.0
31,San Francisco,Chicago,"SF 13, CHC 12",San Francisco,13.0,Chicago Cubs,12.0
32,Oakland,Cincinnati,"OAK 8, CIN 6",Oakland,8.0,Cincinnati,6.0
33,Texas,Colorado,"COL 3, TEX 2",Colorado,3.0,Texas,2.0
34,Oakland,Oakland,"CHW 8, OAK 2",CHW,8.0,Oakland,2.0
35,San Francisco,San Francisco,"SF 7, CHC 3",San Francisco,7.0,Chicago Cubs,3.0
36,Cleveland,Texas,"CLE 10, TEX 0",Cleveland,10.0,Texas,0.0
37,Los Angeles Angels,Chicago,"LAA 2, CHW 0",Los Angeles Angels,2.0,CHW,0.0
38,Milwaukee,Kansas City,"MIL 11, KC 5",Milwaukee,11.0,Kansas City,5.0
39,Seattle,Milwaukee,"MIL 4, SEA 4",Milwaukee,4.0,Seattle,4.0

In [164]:
# Crear nuevas columnas "C" y "V" y asignar los valores correspondientes
df_final['C'] = df_final.apply(lambda row: row['Puntos Ganador'] if row['Equipo Local'] == row['Equipo Ganador'] else row['Puntos Perdedor'], axis=1)
df_final['V'] = df_final.apply(lambda row: row['Puntos Perdedor'] if row['Equipo Local'] == row['Equipo Ganador'] else row['Puntos Ganador'], axis=1)

# Mostrar el DataFrame actualizado
print(df_final)

     Equipo Local     Equipo Visitante      Resultado       Equipo Ganador  \
0       San Diego  Los Angeles Dodgers    LAD 5, SD 2  Los Angeles Dodgers
1       Minnesota              Detroit  DET 12, MIN 3              Detroit
2         Atlanta              Toronto  ATL 10, TOR 9              Atlanta
3           Miami        New York Mets   NYM 6, MIA 3        New York Mets
4         Oakland              Chicago   OAK 3, CHC 1              Oakland
...           ...                  ...            ...                  ...
7210  Kansas City        San Francisco      Sin jugar                 None
7211    St. Louis            Cleveland      Sin jugar                 None
7212    San Diego              Chicago      Sin jugar                 None
7213      Oakland             New York      Sin jugar                 None
7214     Colorado             Colorado      Sin jugar                 None

      Puntos Ganador Equipo Perdedor  Puntos Perdedor     C     V
0                5.0       San Diego              2.0   2.0   5.0
1               12.0       Minnesota              3.0   3.0  12.0
2               10.0         Toronto              9.0  10.0   9.0
3                6.0           Miami              3.0   3.0   6.0
4                3.0    Chicago Cubs              1.0   3.0   1.0
...              ...             ...              ...   ...   ...
7210             NaN            None              NaN   NaN   NaN
7211             NaN            None              NaN   NaN   NaN
7212             NaN            None              NaN   NaN   NaN
7213             NaN            None              NaN   NaN   NaN
7214             NaN            None              NaN   NaN   NaN

[7215 rows x 9 columns]

In [165]:
df_final

,Equipo Local,Equipo Visitante,Resultado,Equipo Ganador,Puntos Ganador,Equipo Perdedor,Puntos Perdedor,C,V
0,San Diego,Los Angeles Dodgers,"LAD 5, SD 2",Los Angeles Dodgers,5.0,San Diego,2.0,2.0,5.0
1,Minnesota,Detroit,"DET 12, MIN 3",Detroit,12.0,Minnesota,3.0,3.0,12.0
2,Atlanta,Toronto,"ATL 10, TOR 9",Atlanta,10.0,Toronto,9.0,10.0,9.0
3,Miami,New York Mets,"NYM 6, MIA 3",New York Mets,6.0,Miami,3.0,3.0,6.0
4,Oakland,Chicago,"OAK 3, CHC 1",Oakland,3.0,Chicago Cubs,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
7210,Kansas City,San Francisco,Sin jugar,None,NaN,None,NaN,NaN,NaN
7211,St. Louis,Cleveland,Sin jugar,None,NaN,None,NaN,NaN,NaN
7212,San Diego,Chicago,Sin jugar,None,NaN,None,NaN,NaN,NaN
7213,Oakland,New York,Sin jugar,None,NaN,None,NaN,NaN,NaN
7214,Colorado,Colorado,Sin jugar,None,NaN,None,NaN,NaN,NaN

In [166]:
# Eliminar las columnas especificadas
columnas_eliminar = ['Resultado', 'Equipo Ganador', 'Puntos Ganador', 'Equipo Perdedor', 'Puntos Perdedor']
df_final = df_final.drop(columns=columnas_eliminar)

In [167]:
# Guardar el DataFrame en un archivo Excel llamado "Partidos_NBA.xlsx"
nombre_archivo = "Partidos_MLB.xlsx"
df_final.to_excel(nombre_archivo, index=False)

print(f"El DataFrame se ha guardado exitosamente en '{nombre_archivo}'.")

El DataFrame se ha guardado exitosamente en 'Partidos_MLB.xlsx'.